@import "../../../assets/utilities/variables";

body {
  background: #f9f9fb;
}

button.button {
  color: $secondary;

  &:active {
    background: $active;
  }
  &:focus {
    outline: 0;
    background: $secondary;
  }
  &.button:disabled,
  &.button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}

.rating-scale {
  display: block;
  font-size: 0;
  padding-top: 2rem;
  margin: 0 auto;
  width: 100%;

  & span {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: 0.3em 0.8em;
    font-size: $font-size-desktop;
    font-weight: 100;
    width: 6.5rem;
    background: $primary;
    color: #fff;
    cursor: pointer;

    border-top: $border;
    border-bottom: $border;
    border-right: $border;
  }

  & label:first-child span {
    border-left: $border;
  }

  & input[type="radio"] {
    display: none;

    &:checked ~ span {
      background: $secondary;
      color: #fff;
    }
  }
}
.align-right {
  text-align: right !important;
}

.item {
  margin: 0 auto;
  float: none;
  margin-bottom: 1rem;
  width: 50%;
  padding: 5rem;
  border-radius: .4rem;
  background: #fff;
}

.mat-label {
  font-size: $font-size-desktop;
}
.card {
  color: $secondary;
  font-size: $font-size-desktop;
}

@media only screen and (max-width: 600px) {
  .flex-item {
    &.item {
      padding: 2rem;
      margin: 2rem;
      min-width: 85%;
    }
  } 
  h1 { 
    font-size: $font-size-header-mobile;
  }
  .btn-primary {
    font-size: $font-size-mobile;
  }

  h2 {
    font-size: $font-size-mobile;
  }

  mat-label.card-header {
    font-size: $font-size-header-mobile;
  }
  
  .mat- {
    &form-field, &select, &option-text {
      font-size: $font-size-mobile;
    }
  }
  .rating-scale {
    & span {
      font-size: $font-size-mobile;
    }
  }
  .card { 
    font-size: $font-size-header-mobile;
  }
}