@import "../../../assets/utilities/variables";

body {
  background: #f9f9fb;
}

button.button {
  color: $secondary;

  &:active {
    background: $secondary;
  }
  &:focus {
    outline: 0;
    background: $secondary;
  }
  &.button:disabled,
  &.button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}

.rating-scale {
  display: block;
  font-size: 0;
  padding-top: 2rem;

  & span {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: 0.3em 0.8em;
    font-size: 24px;
    font-weight: 100;
    width: 70px;
    background: $primary;
    color: #eee;

    border-top: $border;
    border-bottom: $border;
    border-right: $border;
  }

  & label:first-child span {
    border-left: $border;
  }

  & input[type="radio"] {
    display: none;

    &:checked ~ span {
      background: $secondary;
      color: #fff;
    }
  }
}
.align-right {
  text-align: right !important;
}

.container {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  margin-top: 16rem;
  width: 50%;
  padding: 5rem;
  border-radius: 4px;
  background: #fff;
}
