

$border: solid 1px #fff;

.rating-scale {
  display: block;
  font-size: 0;
   
  & span {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: .3em .8em;
    font-size: 26px;
    font-weight:100;
    width:4em;
    background: #337ab7;
    color: #eee;
    
    border-top: $border;
    border-bottom: $border;
    border-right: $border;
  }
  
  & label:first-child span {
    border-left: $border;
  }
  
  & input[type="radio"] {
    display: none;
    
    &:checked ~ span {
      background: #286090;
      color: #fff;
 }
  }
 
}
.align-right {
    text-align: right !important;
}
