<mwl-calendar-month-view-header [days]="columnHeaders" [locale]="locale"
  (columnHeaderClicked)="columnHeaderClicked.emit($event)" [customTemplate]="headerTemplate">
  <ng-template #headerTemplate>
    <div class="cal-head">
      <h1>{{ now }} </h1>
    </div>
  </ng-template>
</mwl-calendar-month-view-header>
<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
</ng-template>

<div class="row">
  <div class="col-md-3">
   
  </div>
  <div class="col-md-6">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events">
      </mwl-calendar-day-view>
    </div>
  </div>
  <div class="col-md-3">
    
  </div>
</div>

<ng-template #modalContent>
  <div class="modal-header">
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3>You did the <span class="text-bold">{{ results[1] }}</span> thing! So cool!</h3>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      close
    </button>
  </div>
</ng-template>

<div class="streakh" *ngIf="!disableLog">
  <h2>Have you completed your habit yet?</h2>
  <h2>if so, log your streak!</h2>
  <button [disabled]="disableLog" class="btn btn-primary margin" (click)="addEvent()">log!</button>
</div>
<div *ngIf="disableLog" class="streakh">
  <h2>You have logged your {{ results[1] }} habit for __ days! You're killing it :)</h2>
</div>