@import "../../assets/utilities/variables";

body {
    background: #fff !important;
}

.align-center {
    float: none;
    margin: auto;
}

/* calendar styles */
.cal-month-view {
    height: 100%;
    .cal-day-cell {
      &.cal-weekend {
        .cal-day-number {
          color: #3f51b5;
        }
      }
      &.cal-today {
        background-color: #6190e845;
        .cal-day-number {
          font-size: 1.2em;
        }
      }
    }
    .cal-cell-top {
      min-height: 8em;
    }

  }
  mwl-calendar-month-view {
    background: #fff;
  }
  .cal-month-view .cal-header {
    color: $secondary;
    font-size: 2rem;
  }
  .cal-head {
    h1 {
      text-align: center;
      font-size: 4.2rem;
      margin: 0;
      padding: 2rem;
      background: #fff;
      color: $secondary;
    }
  }

.cal-month-view .cal-day-badge {
    background-color: #252467;
}

.modal-footer, .modal-header {
  border: none;
}
.streakh {
  color: $secondary;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-top: 2rem;
}

.margin {
  margin-top: 2rem;
}

.modal-body {
  color: $secondary;
}

@media only screen and (max-width: 600px) { 
  .cal-month-view .cal-day-cell, .cal-month-view .cal-cell-top {
    min-height: 5rem;
  }
  .cal-month-view .cal-day-number {
    margin-top: 5px;
    margin-right: 5px;
  }
  .cal-head h1, h2 {
    font-size: $font-size-header-mobile;
  }
  .btn-primary {
    font-size: $font-size-mobile
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
}