/* You can add global styles to this file, and also import other style files */
@import "src/assets/utilities/variables";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

* {
  font-family: $font;
}

html,
body {
  height: 100%;
}

body {
  background: $secondary;  
} 

.btn-primary {
  color: #fff;
  font-size: 2rem;
  background-color: $secondary;
  border-color: $secondary;
  &:active:focus,
  &:hover {
    background-color: $active;
    border-color: $active;
    outline: 2px auto rgba(78, 84, 140, 1);
    outline-offset: -3px;
  }
  &[disabled] {
    background-color: rgba(178, 178, 178, 1);
    border-color: rgba(178, 178, 178, 1);
    outline: none;
  }
  &[disabled]:hover {
    background-color: rgba(178, 178, 178, 1);
    border-color: rgba(178, 178, 178, 1);
  }
}

// angular material overrides
.mat- {
  &form-field,
  &select {
    display: block !important;
    font-size: 1.5rem;
  }
  &label.card-header {
    font-size: 2rem;
  }
}
.mat- {
  &input-element {
    font-size: 1.5rem !important;
  }
}

.text-bold {
  font-weight: 700;
  color: #6190e8;
}


.streak {
  font-size: 2rem;
  padding: 3.5rem;
  background: #fff;
  height: 100%;
}

/* utils */ 
.padding-none {
  padding: 0 !important;
}


