/* You can add global styles to this file, and also import other style files */
@import "src/assets/utilities/variables";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

* {
  font-family: $font;
}

html,
body {
  height: 100%;
}

body {
  background: #B993D6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} 

.btn-primary {
  color: #fff;
  font-size: $font-size-desktop;
  background-color: $secondary;
  border-color: $secondary;
  &:active:focus,
  &:hover {
    background-color: $active;
    border-color: $active;
    outline: 2px auto rgba(78, 84, 140, 1);
    outline-offset: -3px;
  }
  &[disabled] {
    background-color: rgba(178, 178, 178, 1);
    border-color: rgba(178, 178, 178, 1);
    outline: none;
  }
  &[disabled]:hover {
    background-color: rgba(178, 178, 178, 1);
    border-color: rgba(178, 178, 178, 1);
  }
}

// angular material overrides
mat- {
  &form-field,
  &select {
    display: block !important;
    font-size: $font-size-desktop;
    color: $secondary;
  }
  &label.card-header {
    font-size: $font-size-desktop;
    color: $secondary;
  }
}
.mat- {
  &select-value-text {
    white-space: normal;
  }
  &option, &select-value  {
    color: $secondary;
  }
 
}

.text-bold {
  font-weight: 700;
  color: $active;
}

mat-select-panel .mat-option {
  font-size: $font-size-desktop;
}
.streak {
  font-size: $font-size-desktop;
  padding: 3.5rem;
  background: #fff;
  height: 100%;
}

/* utils */ 
.padding-none {
  padding: 0 !important;
}


/* app component scss */

#welcome {
    font-size: $font-size-desktop;
    color: #fff;
    padding-top: 25rem;
    text-align: center;
  }

  .flex-container {
    font-size: $font-size-desktop;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  
  .align {
    justify-content: space-between;
  }

  .flex-item {
    max-width: 50%;
  }
  
  .button {
    font-family: $font;
    display: inline-block;
    border-radius: .4rem;
    background-color: #fff;
    border-radius: 1rem;
    color: #FFFFFF;
    text-align: center;
    font-size: $font-size-desktop;
    padding: 2rem;
    width: 25rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: .5rem;
    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      &:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -2rem;
        transition: 0.5s;
      }
    } &:hover span {
      padding-right: 2.5rem;
      &:after {
        opacity: 1;
        right: 0;
      }
    }
  }
  
  button {
    &:active {
      background: $secondary;
    }
    &:focus {
      outline: 0;
      border-color: $secondary;
      background: $secondary;
      color: $primary;
    }
  }

  .survey-handle {
    font-family: $font;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: $font-size-desktop;
    padding: 3rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
    :hover {
      transform: scale(1.1); 
    }
  } 

  .btn-primary:active:focus, .btn-primary:hover {
    outline: none !important;
  }

  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  
  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  
  .fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .fade-out {
    -webkit-animation-name: fade-out;
    animation-name: fade-out;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  p {
    font-size: $font-size-desktop;
  } 
  @media only screen and (max-width: 600px) {
    .flex-item {
      max-width: 90%;
      &.item {
        padding: 2rem;
        margin: 2rem;
        
      }
    } 

  }
  